---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  <p>
	  {% for category in categories %}
	  <!-- Having problems with html anchor hash tags on Github pages.  So just linking all categories to beginning of page until I get this figured out
	  <a href="{{site.baseurl}}/category/category.html#{{category|slugize}}">{{category}}</a>
	  -->
	  <a href="{{site.baseurl}}/category/category.html">{{category}}</a>
	  {% unless forloop.last %}&nbsp;{% endunless %}
	  {% endfor %}
  </p>
</div>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
